# Dependencies
node_modules/

# Build outputs
dist/
*.tsbuildinfo
.nx/cache/
.nx/workspace-data/

# Testing
coverage/

# Environment variables
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db


.sfdx/
.cursor/rules/nx-rules.mdc
.sfdx/
.github/instructions/nx.instructions.md

.cursor/mcp.json
.claude
